.Box {
  height: 100px;
  text-align: center;
  flex-basis: 14.2857%;
  border: 2px solid #464646;
  border-width: 2px 2px 0 0;
}
.Box.Box--filled {
  background-color: #797979;
  color: #fff;
}
.Box.Box--fillable {
  cursor: pointer;
}
.Box.Box--fillable:hover {
  background-color: #eee;
}

.Box__label {
  line-height: 36px;
}

.Box__value {
  font-size: 34px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 6px;
  font-family: 'Shadows Into Light', cursive;
}
.Box__value--pending {
  color: red;
}

.Box__secondary {
  line-height: 16px;
  font-size: 12px;
}
