.Dice {
  perspective: 160px;
	perspective-origin: 50% 50%;
  width: 40px;
  xheight: 200px;
}

.Dice__cube {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;

  transition: transform 0.5s linear;
  transition-delay: 0.15s;
}

.Dice__cube--2 {
  transform: rotateY(-90deg);
}
.Dice__cube--3 {
  transform: rotateX(-90deg);
}
.Dice__cube--4 {
  transform: rotateX(90deg);
}
.Dice__cube--5 {
  transform: rotateY(90deg);
}
.Dice__cube--6 {
  transform: rotateY(180deg);
}

.Dice__face {
  position: absolute;
	width: 40px;
	height: 40px;
  border: 2px solid #464646;
  background-color: white;
}
.Dice--black .Dice__face {
  background-color: #464646;
}

.Dice__face--1 {
  transform: translateZ(20px);
}
.Dice__face--2 {
  transform: rotateY(-270deg) translateX(20px);
	transform-origin: top right;
}
.Dice__face--3 {
  transform: rotateX(-90deg) translateY(-20px);
	transform-origin: top center;
}
.Dice__face--4 {
  transform: rotateX(90deg) translateY(20px);
	transform-origin: bottom center;
}
.Dice__face--5 {
  transform: rotateY(270deg) translateX(-20px);
	transform-origin: center left;
}
.Dice__face--6 {
  transform: translateZ(-20px) rotateY(180deg);
}

.Dice__pip {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #464646;
  position: absolute;
}

.Dice--black .Dice__pip {
  background-color: #fff;
}

.Dice--blank .Dice__pip {
  display: none;
}

.Dice__pip--tl,
.Dice__pip--bl,
.Dice__pip--l {
  left: 10%;
}
.Dice__pip--tr,
.Dice__pip--br,
.Dice__pip--r {
  right: 10%;
}
.Dice__pip--tr,
.Dice__pip--tl {
  top: 10%;
}
.Dice__pip--br,
.Dice__pip--bl {
  bottom: 10%;
}
.Dice__pip--l,
.Dice__pip--r,
.Dice__pip--c {
  transform: translateY(-50%);
  top: 50%;
}
.Dice__pip--c {
  transform: translate(-50%, -50%);
  left: 50%;
}

@keyframes spin-0 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  12% {
    transform: rotateX(-8deg) rotateY(-12deg) rotateZ(-7deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(1080deg) rotateZ(720deg);
  }
}

@keyframes spin-1 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  12% {
    transform: rotateX(12deg) rotateY(-8deg) rotateZ(22deg);
  }
  100% {
    transform: rotateX(-360deg) rotateY(720deg) rotateZ(-1080deg);
  }
}


.spin-0 {
	animation: spin-0 1.25s 1 ease;
  transform-style: preserve-3d;
}
.spin-1 {
	animation: spin-1 1.25s 1 ease;
  transform-style: preserve-3d;
}
