.YahtzeeGame {
  width: 600px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.YahtzeeGame__boxes {
  margin-top: 10px;
}

.YahtzeeGame__dice {
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.YahtzeeGame__die {
  width: 80px;
  height: 80px;
}

.YahtzeeGame__button {
  width: 40%;
  border: 4px solid #464646;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  font-size: 32px;
  cursor: pointer;
  background-color: #fff;
  display: block;
  color: #464646;
}
.YahtzeeGame__button:hover {
  background-color: #eee;
}
.YahtzeeGame__button:disabled {
  color: #888;
  cursor: default;
}

.YahtzeeGame__rolls {
  font-size: 24px;
  padding-top: 3px;
  line-height: 36px;
  text-align: center;
  color: #464646;
}

.YahtzeeGame__score {
  font-size: 48px;
  padding: 36px 0;
  text-align: center;
  color: #464646;
}
