.YahtzeeGame {
  width: 600px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.YahtzeeGame__boxes {
  margin: 10px 0;
}

.YahtzeeGame__dice {
  display: flex;
  padding-top: 20px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.YahtzeeGame__die {
  width: 80px;
  height: 80px;
}
